.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 1.5rem;
}
.m-4 {
  margin: 2rem;
}
.m-5 {
  margin: 2.5rem;
}
.m-6 {
  margin: 3rem;
}
.m-7 {
  margin: 3.5rem;
}
.m-8 {
  margin: 4rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.p-4 {
  padding: 2rem;
}
.p-5 {
  padding: 2.5rem;
}
.p-6 {
  padding: 3rem;
}
.p-7 {
  padding: 3.5rem;
}
.p-8 {
  padding: 4rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

#single-hero-container {
  position: relative;
  height: clamp(400px, 65vh, 660px);
}
#single-hero-container a {
  align-self: flex-start;
}
#single-hero-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #cccccc;
  z-index: 0;
}
#single-hero-container .single-hero-title-container {
  display: flex;
  flex-direction: column;
  font-size: clamp(2.75rem, 4vw, 3.5rem);
  font-weight: 700;
  height: 100%;
  justify-content: flex-end;
  padding: 2rem 0;
  position: relative;
  z-index: 10;
}

article .post-thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
article .popup_thumbnail {
  aspect-ratio: auto !important;
}
article .post-caption {
  font-style: italic;
  color: #444;
}
article h1,
article h2,
article h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}
article h1 {
  font-size: 3.125em;
}
article h2 {
  font-size: 1.5em;
}
article h3 {
  font-size: 1.25em;
}
article p {
  margin-bottom: 2em;
}
article ol,
article ul {
  line-height: 150%;
  margin: 2rem 0;
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
article ol {
  counter-reset: list-counter;
  list-style-type: none;
}
article ol li {
  position: relative;
  counter-increment: list-counter;
  width: calc(100% - 4rem);
  left: 4rem;
}
article ol li::before {
  position: absolute;
  left: -2.2rem;
  top: 3px;
  display: flex;
  align-items: center;
  padding: 0.325rem;
  margin-right: 0.825rem;
  font-weight: 700;
  background-color: #0a0a0a;
  color: #fff;
  line-height: 1rem;
  content: counter(list-counter);
}
article hr {
  margin: 1.25rem 0;
}
article figure {
  margin: 2.5rem auto;
}
article a {
  color: #0a26c7;
}
article a:hover {
  text-decoration: underline;
}

.study-program-child-cta-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  align-items: center;
  gap: 2rem;
  line-height: 150%;
}
.study-program-child-cta-container a:hover {
  text-decoration: underline;
}

.article-content > p:first-of-type::first-letter {
  font-size: 300%;
  padding: 0.5rem 0.25rem;
  margin-right: 0.25rem;
  font-weight: 800;
  background-color: #fff500;
  float: left;
  line-height: 1rem;
}
@media (max-width: 480px) {
  .article-content > p:first-of-type::first-letter {
    padding: 0.25rem;
  }
}

.single-cta-button {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5em;
  background-color: #0a26c7;
  color: #fff;
}
@media (max-width: 768px) {
  .single-cta-button {
    padding: 0.75rem;
    font-size: 1em;
    font-weight: 600;
  }
}
.single-cta-button:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #single-hero-container {
    padding: 1rem;
  }
}
#single-hero-container .single-hero-container-title {
  align-self: flex-start;
  background-color: #fff500;
  display: inline;
  position: relative;
  padding: 0 2rem;
  z-index: 10;
}
@media (max-width: 768px) {
  #single-hero-container .single-hero-container-title {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0;
  }
}

.study-program-info-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f5f390;
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .study-program-info-inner {
    padding: 1rem;
  }
}

.program-studi-info-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  .program-studi-info-list {
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    flex-direction: column;
  }
}
.program-studi-info-list a {
  text-decoration: none;
}
.program-studi-info-list a:hover {
  text-decoration: underline;
}

.wp-block-table th {
  background-color: #0a0a0a;
  color: #fff;
}
.wp-block-table .wp-element-caption {
  font-size: 0.825rem;
  line-height: 150%;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
@media (max-width: 480px) {
  #register-form {
    padding: 0;
  }
}
#register-form h2 {
  margin-bottom: 1rem;
}
#register-form .form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
#register-form .form-section h3 {
  width: 100%;
  font-weight: 600;
  font-size: 1.25rem;
}
#register-form .form-section select {
  font-size: 1rem;
  padding: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid #0a26c7;
  border-radius: 6px;
}
#register-form .form-section .form-radio-option {
  display: flex;
  gap: 0.5rem;
  padding-left: 1rem;
  align-items: center;
}
@media (max-width: 480px) {
  #register-form .form-section .form-radio-option {
    padding-left: 0;
  }
}
#register-form .form-section .form-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#register-form .form-section .form-row .form-input {
  display: flex;
  flex: 1;
  min-width: 300px;
  flex-direction: column;
  gap: 0.5rem;
}
#register-form label {
  color: #0a0a0a;
}
#register-form input {
  font-size: 1rem;
  padding: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
}
#register-form input[type=text], #register-form input[type=email], #register-form input[type=tel] {
  border: 1px solid #0a26c7;
  border-radius: 6px;
}
#register-form a {
  text-decoration: underline;
}
#register-form a:hover {
  text-decoration: none;
}
#register-form button {
  margin: 0 auto;
  font-size: 1.25rem;
}
#register-form button:hover {
  text-decoration: underline;
}

#data-review .review-item {
  display: flex;
  flex-direction: column;
}
#data-review label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.825rem;
}
#data-review .note {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #fff;
}
#data-review .note a,
#data-review .note p {
  font-size: 0.825rem;
}

.form-border {
  border: 1px solid #0a26c7;
  border-radius: 0.5rem;
  padding: 1rem;
}

.kurikulum-header {
  font-size: 1.3rem;
}

.kurikulum-sub-header {
  font-weight: 600;
  background-color: #dedede;
}

.toggle-link {
  cursor: pointer;
}

tr.collapse td:has(.details-wrapper) {
  border: 0;
  padding: 0;
}
tr.collapse .details-wrapper {
  background-color: #ededed;
  border: 0;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.5s;
  width: 98%;
}
tr.collapse .details-wrapper p {
  font-size: 1rem;
  margin: 0;
}
@media (max-width: 480px) {
  tr.collapse .details-wrapper p {
    font-size: 0.9rem;
  }
}

tr.active .details-wrapper {
  max-height: 400px;
  padding: 1rem;
}
tr.active .curriculum-description-wrapper {
  padding: 1rem;
}

.curriculum-box {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.25rem;
  text-align: center;
}
.curriculum-box .curriculum-cell {
  background-color: #cccccc;
  padding: 1rem;
}
@media (max-width: 480px) {
  .curriculum-box .curriculum-cell {
    flex: 1 0 calc(50% - 0.5rem);
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}
.curriculum-box .curriculum-cell .rps-link {
  font-size: 2em;
}
.curriculum-box h3.curriculum-box-label {
  font-size: 1em;
  text-decoration: underline;
}
.curriculum-box .curriculum-description-wrapper {
  padding: 4rem;
}/*# sourceMappingURL=single-page.css.map */